#new_organization_form
  -# Create a form that collects Org details (currently name + URL).
  = semantic_form_for(@organization, :html => {:id => 'organization_form', :class => 'standard_form'}) do |f|
    = f.inputs :name => "Create Organization" do
      %li.input
        %p.inline-hints
          Specify the organization's full name:
      = f.input :name, :label => "Name"
      = f.input :url, :label => "Homepage"
      = f.input :topics, :input_html => { :class => 'required chzn-select-create' }
      - focus_on '#organization_name'
    = f.buttons do
      = f.commit_button "Save"
