!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
      %title
        = "#{@page_title} » " if @page_title
        = SETTINGS.name
        \: #{SETTINGS.tagline}
      %meta{:content => "width=device-width, initial-scale=1.0, user-scalable=yes", :name => "viewport"}
      %meta{:content => "yes", :name => "apple-mobile-web-app-capable"}
      %meta{:content => "black", :name => "apple-mobile-web-app-status-bar-style"}
      %meta{:property => 'og:image', :content => "#{request.protocol}#{request.host_with_port}#{current_theme_image_path('logo.png')}"}
      %link{:href => "/opensearch.xml", :rel => "search", :title => SETTINGS.name, :type => "application/opensearchdescription+xml"}

      / Le HTML5 shim, for IE6-8 support of HTML elements
      /[if lt IE 9]
        %script{:src => "http://html5shim.googlecode.com/svn/trunk/html5.js"}
      / Stylesheets, static
      = stylesheet_link_tag 'application', :media => :all
      = theme_stylesheet_link_tag 'activate', :media => :all
      = theme_stylesheet_link_tag 'chosen', 'formtastic-bootstrap', 'layout', 'forms', 'jquery-ui-bootstrap/jquery-ui-bootstrap', :media => :all
      = theme_stylesheet_link_tag 'mobile', :media => mobile_stylesheet_media("only screen and (max-device-width: 960px)")
      /[if IE]
        = theme_stylesheet_link_tag 'ie', :media => :all
      = theme_stylesheet_link_tag 'print', :media => :print
      = theme_stylesheet_link_tag 'site', :media => :all
      / Stylesheets, inserted
      = yield :css_insert
      -#%link{:href => "/themes/activate/stylesheets/site.less", :rel => "stylesheet/less", :type => "text/css"}/
      / JavaScripts, static
      -# theme_javascript_include_tag  "less"
      = javascript_include_tag 'application'
      = theme_javascript_include_tag 'chosen.jquery'
      = theme_javascript_include_tag 'bootstrap-modal'
      = theme_javascript_include_tag 'bootstrap-alert'
      = theme_javascript_include_tag 'bootstrap-collapse'
      / JavaScripts, inserted
      = yield :javascript_insert
      / Auto-discovery, static
      = auto_discovery_link_tag(:atom, events_url(:format => 'atom'), :title => 'Atom: All Events' )
      / Auto-discovery, inserted
      = yield :discovery_insert
      %link{:href => theme_image_path('favicon.ico'), :rel => "icon"}/
      %link{:href => "/images/site-icon.png", :rel => "apple-touch-icon"}/

    - if Rails.env == 'production'
      :javascript
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-28297028-1']);
        _gaq.push(['_setDomainName', 'activatehub.org']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

  %body{:class => "#{"#{controller.controller_name}_#{action_name}"} #{"#{controller.controller_name}_controller"} #{%w[new create edit update].include?(action_name) ? "#{controller.controller_name}_change" : ""}"}

    .navbar.navbar-fixed-top
      .navbar-inner
        .container-fluid
          -# .btn-navbar is used as the toggle for collapsed navbar content -->
          %a.btn.btn-navbar{'data-toggle' => "collapse", 'data-target' => ".nav-collapse"}
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>

          -# Be sure to leave the brand out there if you want it shown -->
          -#<a class="brand" href="#">Project name</a>
          %a.brand{:href => "/", :title => SETTINGS.name}= theme_image_tag 'logo_dark_sm.png'

          -# Everything you want hidden at 940px or less, place within here -->
          .nav-collapse
            -# .nav, .navbar-search, .navbar-form, etc -->
            %ul.nav
              %li{:class => link_class[:events]}= link_to "Events", events_path
              %li{:class => link_class[:organizations]}= link_to "Organizations", organizations_path
              %li{:class => link_class[:venues]}= link_to "Venues", venues_path
            %ul.nav
              %li= link_to "Add Event", new_event_path
            %ul.nav.pull-right
              %li= link_to "Blog", "http://activatehub.org"
              %li
                %a#menu-email-signup{:href => '#', 'data-controls-modal' => "email-signup"} Newsletter
              %li
                = form_tag '/events/search', :class => 'navbar-search pull-left', :id => 'search_form', :method => :get do
                  - if request.env["HTTP_USER_AGENT"] && request.env["HTTP_USER_AGENT"].include?("Safari")
                    %input#search_field{:name => "query", :results => "5", :type => "search", :class => "search-query", :value => @query}
                  - else
                    = text_field_tag 'query', @query, :id => 'search_field'

    .container-fluid
      .row-fluid
        .sidebar.span3
          = yield :sidebar
          - link_class.select {|k,v| v=="active"}.keys.each do |section|
            - content_for :subnav do
              = render(:partial => "#{section}/subnav")
          - if content_for(:subnav).strip.length > 0
            .subnav.box
              = yield :subnav

        .content.span9
          - if content_for?(:breadcrumbs)
            %ul.breadcrumb
              %li
                %a{:href => "#"} Home
                %span.divider /
              = yield :breadcrumbs
          -# flash[:success] = "yay: success"; flash[:failure] = "meh <em>meh!</em>: failure"; flash[:notice] = "note: notice"; flash[:error] = "meh: error"; flash[:warn] = "look!: warning"
          = render :partial => "shared/flash_messages", :locals => {:flash => flash}
          = yield
    %footer.footer
      = render(:partial => 'site/footer')
    #email-signup.modal.hide.fade
      .modal-header
        %a.close{:href => '#'} ×
        %h3 Sign up to get the latest news!
        ActivateHub.org is evolving quickly!  When we add exciting new features, release in new cities or throw a party, we think you should know! We promise we'll never share your information with anyone.
      .modal-body= render :partial => 'site/email_signup'
    :javascript
      $(".chzn-select").chosen();
      $(".chzn-select-create").chosen({
        create_option: function(term){
          var chosen = this;
          chosen.append_option({
            value: term,
            text: term
          });
        },
        persistent_create_option: true
      });
      $('#email-signup').modal({
        show: false,
        backdrop: true,
        keyboard: true
      });
