<h1>Editing source</h1>
<%= semantic_form_for [@source.organization, @source] do |f| %>
  <%= f.inputs do %>
    <%= f.input :title %>
    <%= f.input :url %>
    <%= f.input :types, :input_html => { :class => 'required chzn-select-create' } %>
    <%= f.input :reimport, :label => "Re-import?" %>
  <% end %>
  <%= f.buttons do %>
    <%= f.submit "Update" %>
  <% end %>
<% end %>
