<div class="alert alert-info">
  <%= render :partial => 'site/appropriateness_message' %>
</div>

<%= semantic_form_for(@source, :html => {:id => 'source_form', :class => 'standard_form'}, :url => { :action => :import }) do |f| %>
  <%= f.inputs :name => "Import Event or Calendar" do %>
    <%= f.input :url, :label => "Event or Calendar URL", :hint => '... a feed or web page in one of the following formats: Google Calendar (ICAL/.ics), ' + SourceParser.labels.to_sentence %>
    <%= f.input :title, :label => "Event or Calendar Name", :hint => 'example: "Tree Planting Events"' %>
    <%= f.input :topics, :input_html => { 'data-placeholder' => "Choose or add your own...", :class => 'required chzn-select-create' } %>
    <%= f.input :types, :input_html => { 'data-placeholder' => "Choose or add your own...", :class => 'required chzn-select-create' } %>
    <% focus_on '#source_url' %>

    <%# FIXME Igal has disabled reimport UI because people are adding almost all new events with re-import, which means that they're almost all generating duplicates and I'm completely overwhelmed with having to use the horrible squashing UI to deal with them. %>
    <% if false %>
      <%= f.input :reimport, :label => "Re-import?", :hint => "(Regularly check this source and import new events automatically?)" %>
    <% end %>
  <% end %>

  <%= f.buttons do %>
    <%= f.commit_button "Import" %>
  <% end %>
<% end %>

  <div class="alert alert-block">
  <a class="close" data-dismiss="alert" href="#">&times;</a>
  <h4 class="alert-heading">Quick Import Tip</h4>

  Drag this <button class="btn"><%= link_to "✚ #{@current_site.name}", "javascript:d=document;q=(d.location.href);w=window;location.href='#{new_organization_source_url}?url='+escape(q);" %></button> button to your browser bookmark bar and click it when you're viewing events you want to import.  
  </div>


