<% content_for :discovery_insert do %>
  <link rel="alternate" type="application/x-wiki" title="Edit this page" href="<%= edit_organization_source_url(@source) %>" />
<% end %>

<p>
  <b>URL:</b>
  <%= source_url_link @source %>
</p>

<% unless @source.types.blank? -%>
  <b>Types:</b>
    <%= render :partial => 'shared/types', :locals => {:types => @source.types} %>
<% end %>

<p>
   <b>Events:</b>
   <%= render :partial => 'events/list', :locals => { :events =>  @source.events.order(:start_time) } %>
</p>

<%= link_to 'Back', organization_sources_path %> |
<%= link_to 'Destroy', organization_source_path(params[:organization_id], @source), :confirm => 'Are you sure?', :method => :delete %>
