%h2.main-title Topic: #{@topic.name}

#admin-content
  - unless @topic.any_items?
    = link_to 'Delete this topic', admin_topic_path(@topic), :method => :delete, :data => { :confirm => 'Are you sure?' }

  = render 'form', :topic => @topic

  %h3 Most Recently Created Events
  - if @events.any?
    %ul
      - @events.each do |event|
        %li= link_to "#{event.title} (#{event.start_time.to_date})", event_path(event)
  - else
    No events.

  %h3 Organizations
  - if @organizations.any?
    %ul
      - @organizations.each do |organization|
        %li= link_to organization.name, organization_path(organization)
  - else
    No organizations.

  %h3 Sources
  - if @sources.any?
    %ul
      - @sources.each do |source|
        %li= link_to source.title, organization_source_path(source.organization, source)
  - else
    No sources.
