:ruby
  events_view ||= params[:view] || cookies[:events_view] || 'calendar'

  # widget overridable view elements
  page_title = params[:title] || t('.title') # "?title=" should hide title
  event_views = params[:views] ? params[:views].split(',') : %w( calendar list )


- content_for :sidebar do
  #sidebar-welcome.sidebar-box= render 'site/welcome'
  #sidebar-event-details.sidebar-box
  #sidebar-filters.sidebar-box= render 'events/filters'
  #sidebar-exports.sidebar-box= render 'events/exports'

- if event_views.any?
  .view-switcher
    %ul
      - if event_views.include?('calendar')
        %li= link_to t('.switcher.calendar'), params.merge(:view => 'calendar'), :class => "switch-calendar #{(events_view == 'calendar' ? 'selected' : '')}", :data => { :view => 'calendar' }
      - if event_views.include?('list')
        %li= link_to t('.switcher.list'), params.merge(:view => 'list'), :class => "switch-list #{(events_view == 'list' ? 'selected' : '')}", :data => { :view => 'list' }

%h2.main-title= page_title

.events-list{:class => events_view}
  - cache_key = "events-index-topic:#{params[:topic]}-type:#{params[:type]}-org:#{params[:organization]}"
  - cache_if(@perform_caching, CacheObserver.daily_key_for(cache_key, request)) do
    = render 'events/calendar', :events => @events, :start_date => @start_date, :end_date => @end_date
