:ruby
  venues_view ||= params[:view] || cookies[:venues_view] || 'list'


- content_for :sidebar do
  #sidebar-welcome.sidebar-box= render 'site/welcome'
  #sidebar-wiki-props.sidebar-box= render 'site/wiki_props_index', :collection => Venue.scoped
  #sidebar-exports.sidebar-box= render 'venues/exports'


.view-switcher
  %ul
    %li= link_to t('.switcher.list'), params.merge(:view => 'list'), :class => (venues_view == 'list' ? 'selected' : ''), :data => { :view => 'list' }
    %li= link_to t('.switcher.map'), params.merge(:view => 'map'), :class => (venues_view == 'map' ? 'selected' : ''), :data => { :view => 'map' }

%h2.main-title= t('.title')

.venues-view{:class => "#{venues_view} #{params[:all] ? 'all' : ''}"}
  .show-all-venues{:style => (params[:all] || params[:view] == 'map' ? 'display:none' : '')}= link_to t('.show_all'), params.merge(:all => 1)

  .most-active-venues
    %h3.most-active-title= t('.most_active.title')
    - @most_active_venues.each do |venue|
      %ul.venues-list
        %li.venue
          .venue-title= link_to venue.title, venue_path(venue)
          .venue-events-count= t('.most_active.events_count', :count => venue.events_count)

  .newest-venues
    %h3.newest-title= t('.newest.title')
    %ul.venues-list
      - @newest_venues.each do |venue|
        %li.venue
          .venue-title= link_to venue.title, venue_path(venue)
          .venue-age= t('.newest.age', :age => time_ago_in_words(venue.created_at))

  .all-venues
    %ul.venues-list
      - for venue in @venues
        %li.venue
          .venue-title= link_to venue.title, venue_path(venue)
          .venue-address= venue.full_address

  .venues-map= google_map @venues, @current_site.venues_google_map_options
