- content_for :sidebar do
  #sidebar-welcome.sidebar-box= render 'site/welcome'
  #sidebar-wiki-props.sidebar-box= render 'site/wiki_props', :object => @venue, :clone => false
  #sidebar-event-details.sidebar-box


= render 'venues/item', :venue => @venue

%h2.future-events-title= t('.future_events.title')
.future-events.events-list.list
  - if @future_events.any?
    = render 'events/calendar', :events => @future_events
  - else
    .no-events= t('.future_events.none')

%h2.past-events-title= t('.past_events.title')
.past-events.events-list.list
  - if @past_events.any?
    = render 'events/calendar', :events => @past_events
  - else
    .no-events= t('.past_events.none')
