#navbar-logo
  = link_to t('.logo_link', :default => '/') do
    - if logo_src = t('.logo_src', :default => '').presence
      = image_tag logo_src, :title => @current_site.name
    - else
      = @current_site.name

#navbar-toggle
  %a
    %span.icon-bar
    %span.icon-bar
    %span.icon-bar

#login_links= render 'devise/menu/login_links'

#navbar-menu
  %ul
    %li{:class => link_class[:events]}= link_to t('.menu.events'), events_path
    %li= link_to t('.menu.new_event'), new_event_path
    %li{:class => link_class[:organizations]}= link_to t('.menu.organizations'), organizations_path
    %li{:class => link_class[:venues]}= link_to t('.menu.venues'), venues_path
    %li= link_to t('.menu.adding-events'), 'http://activatehub.org/adding-events'

#navbar-search
  = form_tag search_events_path, :method => :get do
    = text_field_tag 'query', @query, :placeholder => t('.search.placeholder')
