:ruby
  organization ||= raise ArgumentError, "organization is required in view partial #{__FILE__}"
  sources = organization.sources.enabled


- cache organization do
  .organization-item
    .organization
      .organization-title= organization.name

      .organization-source-actions
        .show-sources>= link_to t('.sources.show'), '#'
        ,
        .add-source= link_to t('.sources.add'), new_organization_source_path(organization)

      - if organization.url?
        %h2.organization-url-title= t('.url.title')
        .organization-url= link_to organization.url, organization.url, :target => '_blank'

      - if organization.default_venue.present?
        %h2.organization-url-title Default Venue
        .organization-url= link_to organization.default_venue.title, venue_path(organization.default_venue)

      %h2.organization-description-title= t('.description.title')
      .organization-description{:class => (organization.description? ? '' : 'no-content')}
        = organization.description.presence || t('.description.none')

      .organization-topics<
        - organization.topics.each do |topic|
          = link_to topic.name, '#', :class => 'topic'

      .organization-sources-container
        %h2.organization-sources-title= t('.sources.title')
        .organization-sources.sources-list.list
          - if sources.any?
            - sources.each do |source|
              = render 'sources/index_item', :source => source
          - else
            .no-sources= t('.sources.none')
