:ruby
  topics ||= raise ArgumentError, "topics is required in view partial #{__FILE__}"
  selected ||= nil

  # an explicitly passed in nil title means to skip, so check if defined
  unless defined?(title) then title = t('.title') end


- if title
  %h3.topics-title= title

.topics-list<
  - topics.each do |topic|
    - if !selected || selected == topic.name
      = link_to topic[:name], params.merge(:topic => topic[:name]), :class => 'topic'
    - else
      = link_to topic[:name], params.merge(:topic => topic[:name]), :class => 'topic empty'

  - if selected
    = link_to t('.reset'), params.merge(:topic => nil), :class => 'clear-topic'
