:ruby
  types ||= raise ArgumentError, "types is required in view partial #{__FILE__}"
  selected = selected ? [*selected] : nil # force into array if just a single value

  # an explicitly passed in nil title means to skip, so check if defined
  unless defined?(title) then title = t('.title') end


- if title
  %h3.types-title= title

.types-list<
  - types.each do |type|
    - if !selected || selected.include?(type.name)
      = link_to type[:name], params.merge(:type => type[:name]), :class => 'type'
    - else
      = link_to type[:name], params.merge(:type => type[:name]), :class => 'type empty'

  - if selected
    = link_to t('.reset'), params.merge(:type => nil), :class => 'clear-type'
