!!! XML
!!!

%html
  %head
    = render 'site/head'

  %body{:class => "#{controller.controller_path.parameterize}-#{action_name} application"}
    #navbar= render 'site/navbar'
    #sidebar= render 'site/sidebar'

    #main
      - flash.each do |klass,msg|
        .flash-msg{:class => klass}!= msg
      = content_for?(:content) ? yield(:content) : yield

    #footer= render 'site/footer'
