!!! XML
!!!

%html
  %head
    = stylesheet_link_tag 'application', 'theme', 'widget', :media => :all
    = javascript_include_tag 'widget', 'theme'

  %body{:class => "#{controller.controller_name}-#{action_name} widget"}
    #main
      #widget-event-details
      = yield

  - # force all links to open in a new tab or window
  :javascript
    $('a').attr('target', '_blank');
